* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fdfdfd;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}





.btn-info {
  border-color: #06aad8 !important;
  background-color: transparent !important;
  color: white !important;


}

.btn-info:not(.disabled).active {
  border-color: #06aad8 !important;
  background-color: #06aad8 !important;
  color: white !important;
}

.btn-info:hover {
  border-color: #06aad8 !important;
  background-color: #06aad8 !important;
  color: white !important;
}

.myCard {
  border-color: transparent !important;
}

.outline-btn {
  border-color: #06aad8 !important;
  background-color: transparent !important;
  color: white !important;
}


.outline-link {

  background-color: white !important;
  color: #06aad8 !important;
  font-weight: 600 !important;
  border-color: #06aad8 !important;


}

.outline-link:hover {
  border-color: #06aad8 !important;
  background-color: #06aad8 !important;
  color: white !important;
}

.outline-link:focus {
  border-color: #06aad8 !important;
  background-color: #06aad8 !important;
  color: white !important;
}



.outline-btn:hover {
  border-color: #06aad8 !important;
  background-color: #06aad8 !important;
  color: white !important;
}

.react-datetime-picker__inputGroup__input {
  color: white !important;

}

svg {
  stroke: white;
}

.react-datetime-picker__wrapper {
  color: white !important;
  border: 1px solid #06aad8 !important;
  border-radius: 4px;

}

.myModal .react-datetime-picker__wrapper {
  color: black !important;
  border: 1px solid #06aad8 !important;
  border-radius: 4px;
}

.myModal svg {
  stroke: black;
}

.myModal .react-datetime-picker__inputGroup__input {
  color: rgb(0, 0, 0) !important;
}


.BgStyle {
  background: linear-gradient(rgba(129, 172, 238, 0.7),
      rgba(2, 17, 49, 0.7)),
    url(img/Horsens.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}